{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for info in stock_info %}
                <tr>
                    <td>{{ info["stock_symbol"] }}</td>
                    <td>{{ info["num_shares"] }}</td>
                    <td>{{ "${:.2f}".format(info["stock_price"]) }}</td>
                    <td>{{ info["date_purchase"] }}</td>
                    <td> <font color="#2e944b"> BOUGHT </font> </td>
                </tr>
            {% endfor %}
            <tr><td colspan="5"></td></tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
            <th> </th>
            {% for info in stock_info_sold %}
                <tr>
                    <td>{{ info["stock_symbol"] }}</td>
                    <td>{{ info["num_shares"] }}</td>
                    <td>{{ "${:.2f}".format(info["stock_price"]) }}</td>
                    <td>{{ info["date_sold"] }}</td>
                    <td> <font color="#ea433b"> SOLD </font> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}